<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Day7-assignment1</title>
</head>
<body ng-app="ecomApp" ng-controller="ecomController">
    <h1 style="text-align: center;">E-commerce</h1>
    <style>
        .center{
            text-align: center;
            margin: 40px solid rgb(80, 24, 24);
        }
    </style>
    <div class=center>
    <input type="text" name="mobile" id="mobile" ng-model="mobile" placeholder="Enter Mobile Number"><br><br>
    <input type="text" name="pamount" id="pamount" ng-model="pamount" placeholder="Enter Purchase Amount"><br><br>
    <input type="text" name="card" id="card" ng-model="card" placeholder="Do you have card?"><br><br>
</div>
    <h2 ng-bind="billtopay()"></h2>
    <script>
        var app=angular.module("ecomApp",[]);
        app.controller("ecomController",function($scope){
            $scope.pamount=0;

            $scope.billtopay=function(){
                billtopay=0;
                discount=0;

           
                if($scope.pamount<=10000){
                    $scope.discount= (15 * $scope.pamount)/100;
                    billtopay=$scope.pamount-discount;
                }
                
                else if($scope.pamount>=10001 && $scope.pamount<=20000){
                    $scope.discount= (25 * $scope.pamount)/100;
                    billtopay=$scope.pamount-discount;
                }
                
                else if($scope.pamount>=20000 && $scope.pamount<=30000){
                    $scope.discount= (35 * $scope.pamount)/100;
                    billtopay=$scope.pamount-discount;
                }
                
            };
               
            });
     
    </script>
     <button ng-click="counter()">Bill</button>
     <table>
         <tr>
             <th>
                 Purchase amount : {{pamount}}</th>

         </tr>
         <tr>
             <th>Discount : {{discount}}</th>
         </tr>
         <tr>
             <th>Bill to pay: {{billtopay}} </th>
         </tr>
     </table>
     </body>
     </html>
